패키지 및 데이터 import

In [9]:
#패키지 import
import pandas as pd
from datetime import datetime

#colab mount
from google.colab import drive
drive.mount('/content/drive')

#데이터 불러오기
df = pd.read_csv('/content/drive/MyDrive/2-3-3_실습.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
#구글 마운트 안되는 경우 깃허브에서 파일 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/hyeokkukim/reading_bigdata/main/2-3-3_%E1%84%89%E1%85%B5%E1%86%AF%E1%84%89%E1%85%B3%E1%86%B8.csv')

In [11]:
#데이터 확인
print(df.info())
print(df.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   타임스탬프      4 non-null      object
 1   질문1        4 non-null      object
 2   질문2(복수응답)  4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None
                     타임스탬프 질문1  질문2(복수응답)
0  2022. 1. 16 오후 11:04:56  만족  옵션 1, 옵션2
1  2022. 1. 16 오후 11:25:08  만족   옵션3, 옵션4
2  2022. 1. 16 오후 11:26:27  보통  옵션 1, 옵션3

타임스탬프 column 유형 변경

In [12]:
#타임스탬프 처리
#오전, 오후를 AM, PM으로 변환
df['타임스탬프']= df['타임스탬프'].str.replace('오전','AM')
df['타임스탬프']= df['타임스탬프'].str.replace('오후','PM')
df.head()

                     타임스탬프 질문1  질문2(복수응답)
0  2022. 1. 16 PM 11:04:56  만족  옵션 1, 옵션2
1  2022. 1. 16 PM 11:25:08  만족   옵션3, 옵션4
2  2022. 1. 16 PM 11:26:27  보통  옵션 1, 옵션3
3  2022. 1. 16 PM 11:30:08  만족   옵션3, 옵션4

In [13]:
#문자를 datetime으로 변환
df['타임스탬프'] = df['타임스탬프'].apply(lambda _ : datetime.strptime(_,'%Y. %m. %d %p %H:%M:%S'))
df.info() #타임스탬프 column이 datetime으로 변경된 것 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   타임스탬프      4 non-null      datetime64[ns]
 1   질문1        4 non-null      object
 2   질문2(복수응답)  4 non-null      object
dtypes: datetime64[ns](1), object(2)
memory usage: 224.0+ bytes

복수응답문 처리

In [14]:
#질문2(복수응답)의 응답 보기 별로 새로운 column 생성
df['옵션 1'] = 0
df['옵션2'] = 0
df

                타임스탬프 질문1  질문2(복수응답)  옵션 1  옵션2
0 2022-01-16 11:04:56  만족  옵션 1, 옵션2     0    0
1 2022-01-16 11:25:08  만족   옵션3, 옵션4     0    0
2 2022-01-16 11:26:27  보통  옵션 1, 옵션3     0    0
3 2022-01-16 11:30:08  만족   옵션3, 옵션4     0    0

In [15]:
#응답이 있으면 1, 응답이 없으면 0
for i in range(0,len(df.index)):
  for answer in ['옵션 1','옵션2']:
    result = df['질문2(복수응답)'][i].find(answer)

    if result != -1:
      df[answer][i] = 1
    else:
      df[answer][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [17]:
df.head()

                타임스탬프 질문1  질문2(복수응답)  옵션 1  옵션2
0 2022-01-16 11:04:56  만족  옵션 1, 옵션2     1    1
1 2022-01-16 11:25:08  만족   옵션3, 옵션4     0    0
2 2022-01-16 11:26:27  보통  옵션 1, 옵션3     1    0
3 2022-01-16 11:30:08  만족   옵션3, 옵션4     0    0